openapi: 3.0.3
info:
  title: Octane REST Admin Refunds API
  description: REST API for managing meters, customers, pricing plans, subscriptions, measurements, and real-time usage data for usage-based billing workflows. Octane enables infrastructure and SaaS companies to implement flexible pay-as-you-go billing similar to Snowflake and AWS.
  version: 1.0.0
  contact:
    name: Octane Support
    url: https://www.getoctane.io
servers:
- url: https://api.getoctane.io
  description: Octane Production API
security:
- BearerApiKeyAuth: []
tags:
- name: Refunds
  description: Process customer refunds
paths:
  /refund:
    post:
      summary: Create Refund
      description: Issue a refund to a customer.
      operationId: refundPost
      tags:
      - Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundArgs'
      responses:
        '200':
          description: Refund created
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    CreateRefundArgs:
      type: object
      properties:
        customer_name:
          type: string
          description: Name of the customer to refund.
        amount:
          type: number
          description: Amount to refund.
        invoice_uuid:
          type: string
          description: UUID of the invoice to refund against.
        reason:
          type: string
          description: Reason for the refund.
  securitySchemes:
    BearerApiKeyAuth:
      type: http
      scheme: bearer
      description: API key passed as a Bearer token in the Authorization header.
