openapi: 3.0.3
info:
  title: Octane REST Admin Webhooks API
  description: REST API for managing meters, customers, pricing plans, subscriptions, measurements, and real-time usage data for usage-based billing workflows. Octane enables infrastructure and SaaS companies to implement flexible pay-as-you-go billing similar to Snowflake and AWS.
  version: 1.0.0
  contact:
    name: Octane Support
    url: https://www.getoctane.io
servers:
- url: https://api.getoctane.io
  description: Octane Production API
security:
- BearerApiKeyAuth: []
tags:
- name: Webhooks
  description: Manage webhook endpoints
paths:
  /webhooks:
    get:
      summary: List Webhooks
      description: Get all webhook endpoints for a vendor.
      operationId: webhooksGet
      tags:
      - Webhooks
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
    post:
      summary: Create Webhook
      description: Create a new webhook endpoint.
      operationId: webhooksPost
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookArgs'
      responses:
        '200':
          description: Created webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
  /webhooks/{uuid}:
    get:
      summary: Get Webhook
      description: Get a webhook endpoint by its UUID.
      operationId: webhooksUuidGet
      tags:
      - Webhooks
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
    delete:
      summary: Delete Webhook
      description: Delete a webhook endpoint by its UUID.
      operationId: webhooksUuidDelete
      tags:
      - Webhooks
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Webhook deleted
components:
  schemas:
    CreateWebhookArgs:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: URL to send webhook payloads to.
        enable_signature:
          type: boolean
          description: Whether to sign webhook payloads.
    Webhook:
      type: object
      required:
      - url
      - enable_signature
      properties:
        uuid:
          type: string
          description: Unique identifier for the webhook.
        url:
          type: string
          format: uri
          description: URL to send webhook payloads to.
        enable_signature:
          type: boolean
          description: Whether to include a signature for payload verification.
  securitySchemes:
    BearerApiKeyAuth:
      type: http
      scheme: bearer
      description: API key passed as a Bearer token in the Authorization header.
